body {
    background-color: #eebb90;
}
ul {
    list-style-type: none;
    margin: 100;
    padding: 0;
    overflow: hidden;
    background-color: #592f0d;
}
h1 {
	color: #592f0d;
	padding: 20px;
	text-align: center;
}
li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	
}

li a:hover {
    background-color: #2c1807;
}

.registration-form {
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            width: 300px;
			position: absolute;
			top: 65%;
			left: 50%;
			transform: translate(-50%, -50%);
}
.registration-form h2 {
            margin-bottom: 20px;
            text-align: center;
}
.form-group {
            margin-bottom: 15px;
}
.form-group label {
            display:block;
            font-weight: bold;
				
}
.form-group input {
            width: 100%;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
}
.form-group input[type="submit"] {
            background-color: #2c1807;
            color: white;
            border: none;
            cursor: pointer;
            font-weight: bold;
}
.form-group input[type="submit"]:hover {
            background-color: #eebb90;
}
